html, 
body ,h1,ul,img,li,p,h2,h3{
    margin: 0;
    padding: 0;
    font-family: Roboto;
}
img{
    width: 100%;
}
/* header container*/
.header-container{
    display: flex;
    flex-wrap: nowrap;
    background-color: white;
    color: #0E0E0E;
    justify-content: space-between;
    margin:1rem 1.25rem;
}
.logo{
    width: 23px;
    height: auto;
}
.learning-journal{
    font-weight: 700;
    font-size: 1rem;
    margin-right: auto;
    margin-left: .25em;
 }
.nav-container{
    padding: 0px;
    flex-grow: 1;
}

.nav-items{
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: right;
    gap:12%;
}

li a{
    color: #0E0E0E;
    text-decoration: none;
    font-size:.75rem;
    font-family:Roboto;
    font-weight: 600;
}
/* main container */
.main-container{   
    display: flex;
    flex-direction: column;
    background-color:white ;
    gap:2.125rem;
}
section{
    font-weight: 400;
    font-size: 1rem;
    color:white;
    margin:0rem 1.25rem;
    display: flex;
    flex-direction: column;
    gap:0.77rem;
}
section img{
    height: 40vh;
    object-fit: cover;
}
section p,h2,h3{
    color: #141414;
}
section h3{
    font-weight: 700;
    font-size: 1.33rem;
}
section p{
    font-weight: 400;
    font-size: 0.88rem;
}
.section-1{
    margin: 0;
    justify-content:end;
    gap: 1.25rem;
    padding-bottom: 2.00rem;
    background-image: url("/images/section1img.png");
    background-position: left 70%;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 40vh;
}
.section-1 p,h2{
    margin:0rem 1.25rem;
    color:#ffffff;
    text-shadow: #0E0E0E 1px 0 5px;
}
.date{
    font-size: 0.66rem;
    font-weight: 400;
}

.section-2{
    
}
.section-2 p,
.section-2 img{
    border-radius: 1%;
}
@media(min-width:800px){
    .section-1{
        height: 60vh;
    }
}